<!DOCTYPE html>
<html>
   <head>
      <title><%= itemName %> | HypixelSkyblock</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
      <link rel="stylesheet" href="/style.css">
      <script src="https://kit.fontawesome.com/5c16ef8200.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
      <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
      <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-steps/dist/js/bulma-steps.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-tooltip/dist/css/bulma-tooltip.min.css">
   </head>
   <body>
      <section class="hero is-primary is-bold">
         <div class="hero-body">
            <div class="container">
               <h1 class="title">
                  <%= itemName %>
               </h1>
               <h2 class="subtitle">
                  <%= type %>
               </h2>
            </div>
         </div>
      </section>
      <div class="columns" style="margin-bottom:0px;">
      <div class="column is-2" style="padding:30px;background-color:#209CEE;margin-top:10px;">
         <aside class="menu">
            <a href="/" style="color:white"><i class="fas fa-home" aria-hidden="true"></i>&nbsp;Home</a><br><br>
             <div class="dropdown is-hoverable">
               <div class="dropdown-trigger">
                 <div class="menu-labela" aria-haspopup="true" aria-controls="dropdown-menu">
                   <span style="color:white;">Farming</span>
                   <span class="icon is-small">
                     <i class="fas fa-angle-down" style="Color:white"aria-hidden="true"></i>
                   </span>
                  </div>
               </div>
               <div class="dropdown-menu" id="dropdown-menu" role="menu">
                 <div class="dropdown-content" style="background-color:rgb(20, 72, 107)">
                   <div class="dropdown-item">
                     <ul class="menu-list">
                        <li><a id="wheat" href="/items/farming/wheat/1">Wheat</a></li>
                        <li><a id="carrot" href="/items/farming/carrot/1">Carrots</a></li>
                        <li><a id="potato" href="/items/farming/potato/1" hidden>Potato</a></li>
                        <li><a id="pumpkin" href="/items/farming/pumpkin/1" hidden>Pumpkin</a></li>
                        <li><a id="melon" href="/items/farming/melon/1" hidden>Melon</a></li>
                        <li><a id="seeds" href="/items/farming/seeds/1" hidden>Seeds</a></li>
                        <li><a id="mushroom" href="/items/farming/mushroom/1" hidden> Mushroom</a></li>
                        <li><a id="CocoaBeans" href="/items/farming/CocoaBeans/1" hidden>Cocoa Beans</a></li>
                        <li><a id="Cactus" href="/items/farming/Cactus/1" hidden>Cactus</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
             </div><br><Br>
             <div class="dropdown is-hoverable">
               <div class="dropdown-trigger">
                 <div class="menu-labela" aria-haspopup="true" aria-controls="dropdown-menu0">
                   <span style="color:white;">Combat</span>
                   <span class="icon is-small">
                     <i class="fas fa-angle-down" style="Color:white"aria-hidden="true"></i>
                   </span>
                  </div>
               </div>
               <div class="dropdown-menu" id="dropdown-menu0" role="menu">
                 <div class="dropdown-content" style="background-color:rgb(20, 72, 107)">
                   <div class="dropdown-item">
                     <ul class="menu-list">
                        <li><a>Coming soon</a></li>
                     </ul>
                   </div>
                 </div>
               </div>
             </div>
             <br><Br>
               <div class="dropdown is-hoverable">
                 <div class="dropdown-trigger">
                   <div class="menu-labela" aria-haspopup="true" aria-controls="dropdown-menu1">
                     <span style="color:white;">Mining</span>
                     <span class="icon is-small">
                       <i class="fas fa-angle-down" style="Color:white"aria-hidden="true"></i>
                     </span>
                    </div>
                 </div>
                 <div class="dropdown-menu" id="dropdown-menu1" role="menu">
                   <div class="dropdown-content" style="background-color:rgb(20, 72, 107)">
                     <div class="dropdown-item">
                       <ul class="menu-list">
                        <li><a id="lapis" href="/items/mining/lapis/1">Lapis</a></li>
                       </ul>
                     </div>
                   </div>
                 </div>
               </div>
               <br><Br>
                  <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <div class="menu-labela" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span style="color:white;">Foraging</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" style="Color:white"aria-hidden="true"></i>
                        </span>
                       </div>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content" style="background-color:rgb(20, 72, 107)">
                        <div class="dropdown-item">
                          <ul class="menu-list">
                           <li><a>Coming soon</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br><Br>
                     <div class="dropdown is-hoverable">
                       <div class="dropdown-trigger">
                         <div class="menu-labela" aria-haspopup="true" aria-controls="dropdown-menu2">
                           <span style="color:white;">Fishing</span>
                           <span class="icon is-small">
                             <i class="fas fa-angle-down" style="Color:white"aria-hidden="true"></i>
                           </span>
                          </div>
                       </div>
                       <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                         <div class="dropdown-content" style="background-color:rgb(20, 72, 107)">
                           <div class="dropdown-item">
                             <ul class="menu-list">
                              <li><a>Coming soon</a></li>
                             </ul>
                           </div>
                         </div>
                       </div>
                     </div>
         </aside>
      </div>
      <div class="column" style="padding:0px;margin-top:10px;">
         <div class="menu" style="padding:10px;background-color:#209CEE;">
            <nav class="breadcrumb" aria-label="breadcrumbs">
               <ul>
                  <li>
                     <a href="/">
                     <span class="icon is-small">
                     <i class="fas fa-home" aria-hidden="true"></i>
                     </span>
                     <span>Home</span>
                     </a>
                  </li>
                  <li>
                     <a href="/farming">
                     <span class="icon is-small">
                     <i class="fas fa-farm" aria-hidden="true"></i>
                     </span>
                     <span><%= type %></span>
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     <span class="icon is-small is-active">
                     <i class="<%= icon %>" aria-hidden="true"></i>
                     </span>
                     <span><%= itemName %></span>
                     </a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="selector-<%= type %>">
            <ul class="steps is-medium is-centered has-content-centered" style="padding-top:10px;">
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  1
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#" class="has-text-dark step" >
                  <span class="steps-marker">
                  <span class="icon">
                  2
                   
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  3
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  4
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  5
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  6
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  7
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  8
                  </span>
                  </span>
                  </a>
               </li>
               <li class="steps-segment step-act">
                  <a href="#"  class="has-text-dark step">
                  <span class="steps-marker">
                  <span class="icon">
                  9
                  </span>
                  </span>
                  </a>
               </li>
            </ul>
            <br> 
            <!-- item wrapper -->
            <div class="item-wrapper">
               <div class="columns">
                  <div class="column is-4">
                     <div class="item-picture border-right">
                        <img src="<%= itemUrl %>"><br>
                        <h1 class="is-size-3 is-centered" style="color:white;">Tier <%= tNumber %></h1>
                     </div>
                  </div>
                  <div class="column">
                     <h1 class="is-size-3 is-centered" style="color:white;">Unlocks</h1>
                     <div class="columns">
                        <div class="column is-4">
                           <img class="item-picture-minion" src="<%= unlockURL %>">
                        </div>
                        <div class="column">
                           <h1 class="is-size-4"><%= unlockName %></h1>
                           <h1 class="is-size-6 desk"><%= desk %></h1>
                           <br>
                           <!-- TODO: Update
                           <div class="crafting-wrapper">
                              <div id="grid">
                                  <div class='gridCell' id="craftTable-0">
                                      <img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/e/e2/Wheat.png"><p class="item-number">64</p>
                                  </div>
                                  <div class='gridCell' id="craftTable-1">
                                      <img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/e/e2/Wheat.png"><p class="item-number">64</p>
                                  </div>
                                  <div class='gridCell' id="craftTable-2"></div>
                                  <div class='gridCell' id="craftTable-3"></div>
                                  <div class='gridCell' id="craftTable-4"></div>
                                  <div class='gridCell' id="craftTable-5"></div>
                                  <div class='gridCell' id="craftTable-6"></div>
                                  <div class='gridCell' id="craftTable-7"></div>
                                  <div class='gridCell' id="craftTable-8"></div>
                               </div>
                              </div><br>
                           -->
                           </div>
                        </div>

                     </div>
                  </div> 
                  <div class="labels">
                     <span class="label">Rarity: <span class="<%= rare %>"><%= rare %></span></span>
                     <span class="label">Needs <B><%= required %></B> <%= itemName %>(s) to unlock</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer is-primary">
            <div class="content has-text-centered">
              <p>We are open source. Check out our <a href="https://github.com/MitchSiegel/HypixelSkyblockCollection">GitHub here!</a><br>
                 Site is a work in progress. This website is <b>not</b> officially related to either Hypixel or Minecraft.<br>
                 Found missing / incorrect information?. <a href="https://github.com/MitchSiegel/HypixelSkyblockCollection/issues">Submit an issue here! (or just message me on discord Mitch#0001)</a>
              </p>
            </div>
         </footer>	
      <!-- Set the active navbar -->
      <script>
         var item = "#<%= itemName %>".toLowerCase()
         document.querySelector(item).setAttribute("class","is-active")
         document.querySelector(item).setAttribute("href","#")
         var stepURL = "#<%= itemName %>".toLowerCase()
         var activeTier = Number("<%= tNumber %>")-1
         var numberOfTiers = Number("<%= tierNumber %>")-1
         var steps = document.querySelectorAll(".step")
         var stepsA = document.querySelectorAll(".step-act")
         stepsA[activeTier].setAttribute("class","steps-segment step-act is-active")
         for(i in steps){
            if(i > numberOfTiers){
               steps[i].setAttribute("disabled", "disabled")
               var x = steps[i].getAttribute("class");
               steps[i].setAttribute("class", x + " tooltip is-tooltip-danger")
               steps[i].setAttribute("data-tooltip","Sorry, this tier isn't added yet! Check back later.")
            }else{
               steps[i].setAttribute("href", Number(Number(i) + 1))
               var x = steps[i].getAttribute("class");
               steps[i].setAttribute("class", x + " tooltip is-tooltip-warning")
               steps[i].setAttribute("data-tooltip","<%= itemName %> Tier " + Number(Number(i) + 1))
            }
         }
         /* Load crafting table : disabled for now 
         var cf = `[<%= %>]`;
         var matX = "<%=  %>";
         var matY = "<%=  %>";
         */
      </script>
   </body>
</html>